
/* Highlight selected tab */
.tabbrowser-tabs[tabkit-highlight-current-tab] .tabbrowser-tab[selected="true"] .tab-text {
  background-color: black !important;
  color: white;
}

/* make the current tab's text(title) bold */
.tabbrowser-tabs[tabkit-bold-current-tab] .tabbrowser-tab[selected="true"] .tab-text {
  font-weight:bold;
}
